@charset "utf-8";

//sass style
//-----------------------------------
// _default.scss




/**************************************/
/*              default               */
/**************************************/

// 是否需要支持IE
$legacy-support-for-ie: true !default;

/**************************************/
/*               Layout               */
/**************************************/

// 默認字體
$use-font-api: true;
$font-name: 'Roboto';
$font-api: '//fonts.googleapis.com/css?family=Roboto';
// $base-font-stack: 'PingFangTC', 'Hiragino Sans GB', 'Microsoft JhengHei', sans-serif;
$base-font-stack: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;

// 主顏色
$base-color: #fa8700;

// 標題顏色
$base-heading-color: rgba(0, 0, 0, 0.87);

// 文字顏色
$base-text-color: #333333;
$base-text-color2: #999999;

// 連結顏色
$base-link-color: #4492d8;

// 連結hover顏色
// $base-link-hover-color: $base-color;
// $base-link-hover-decoration: underline;
$base-link-hover-style: (
    color: $base-color,
    text-decoration: none
);

// 主背景 顏色
$base-background-color: #ffffff;

// 特殊顏色
$special-colors: (
    1: $base-color,
    2: #666666
);

// btn color
$base-btn-colors: (
    facebook: (background-color: #507bbf),
    line: (background-color: #00b900),
    wechat: (background-color: #5cb85c)
);

// border
$base-border-color: #dddddd;


/**************************************/
/*                Grid                */
/**************************************/

// 默認頁面最寬
$base-pages-max-width: 1040;

// 默認screen寬
$base-max-screen: 1040;

// 默認sidebar寬
$base-sidebar-width: 330;
// 默認頁面sidebar邊距
$base-sidebar-margin: 10;

// 默認邊距
$base-block-margin: 10;

/**************************************/
/*               Styles               */
/**************************************/

// 默認行高
$base-line-height: 1.5;

// 默認字體大小
$browser-default-font-size: 16;
$base-font-size: $browser-default-font-size;

// 定義h1~h3的字體大小
$base-headings: (h1: 20, h2: 18, h3: 16, h4: 14);

// 文本顯示行數
$base-ellipsis-lines: 2;
$base-ellipsis-set-max-height: false;
$base-ellipsis-set-mobile-height-auto: false;

/**** Forms ****/
$base-forms-title-color: $base-heading-color;
$base-forms-text-color: $base-text-color;
$base-forms-text-color2: $base-text-color2;
$base-forms-placeholder-color: #999999;
$base-forms-error-color: $base-color;
$base-forms-border-color: $base-border-color;

// padding size
$base-forms-padding-size: 10;
$base-forms-border-radius: 3;

// tips font size
$base-forms-tips-font-size: 16;

// col label margin
$base-forms-col-title-width: 100;
$base-forms-col-title-width-mobile: 72;
$base-forms-col-title-margin: 16;
$base-forms-col-title-margin-mobile: 16;

/**** / end Forms ****/

/**************************************/
/*               Values               */
/**************************************/

// images url
$bast-images-path: '../../../images/';

// icon svg
$base-svg-icon-size: (width: 20, height: 20);

// icon font
$use-icons-font: false;
$icons-font-name: 'icons';
$icons-font-path: $bast-images-path + '/icons/font/icons';
$base-icons-font-size: $base-font-size;

// icon-values



/**************************************/
/*             Variables              */
/**************************************/

/**** user_img ****/
$base-user-img-size: 40;

/**** / end user_img ****/


/**** ui_block ****/
$ui-block-title-font-size: 14;
$ui-block-title-style: (
    color: $base-heading-color,
    font-weight: 500,
    line-height: 1.4
);
/**** / end ui_block ****/
