//sass style
//-----------------------------------
// _header.scss



/**************************************/
/*                header              */
/**************************************/

// header
> .header {
    @include remCalc("margin-bottom", 20);

    // main
    > .main {
        display: flex;
        align-items: center;
        @include remCalc("padding", 20 0);
        @include remCalc("border-bottom", (1 solid $base-border-color));

        // user_img
        > .user_img {
            @include remCalc("width", 60);
            @include remCalc("height", 60);
            @include remCalc("margin-right", 10);
        }
        // user_img end

        // content
        > .content {
            flex: 1;

            // rank
            > .rank {
                text-transform: capitalize;

                // icon_rank
                > .icon_rank {
                    @include remCalc("width", 20);
                    @include remCalc("height", 20);
                }
                // icon_rank end
            }
            // rank end

            // title
            > .title {
                @include font-size(14);
                font-weight: 500;
                line-height: 1.43;
            }
            // title end
        }
        // content end
    }
    // main end

    // meta
    > .meta {
        @include remCalc("margin-top", 40);
        // quality
        > .quality {
            display: flex;
            align-items: center;
            @include remCalc("margin-bottom", 10);
            text-transform: uppercase;
            @include font-size(16);
            font-weight: 500;
            line-height: 0.96;
            color: #4492d8;

            &:before {
                @include remCalc("margin-right", 3);
                @include remCalc("width", 12);
                @include remCalc("height", 12);
                background-image: url($bast-images-path + 'review/bg_qualityreview.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 100% 100%;
                content: "";
            }

            > .txt {}
        }
        // quality end

        // content
        > .content {
            display: flex;
            align-items: center;

            // comments
            > .comments {
                flex: 1;
                display: flex;
                align-items: center;

                // price
                > .price {
                    @include remCalc("margin-left", 10);
                    font-weight: 500;
                    line-height: 1.43;
                    color: $base-heading-color;
                }
                // price end
            }
            // comments end

            // time
            > .time {
                @include font-size(12);
                color: $base-text-color2;
                line-height: 1.33;
            }
            // time end
        }
        // content end
    }
    // meta end
}
// header end
