@charset "utf-8";

//sass style
//-----------------------------------
// _hidden.scss




/**************************************/
/*             hidden                 */
/**************************************/

// 浏览器和屏幕阅读器都隐藏元素
@mixin hidden {
    display: none !important;
    visibility: hidden;
}
%hidden {
    @include hidden;
}
// 仅浏览器隐藏，屏幕阅读器不被隐藏
@mixin visuallyhidden {
    @if $legacy-support-for-ie {
        clip: rect(0,0,0,0);
    }
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    ////扩展了`.visuallyhidden`，充许`.focusable`元素通过键盘获取
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
%visuallyhidden {
    @include visuallyhidden;
}
// 隐藏元素，但布局中占有空间
@mixin invisible {
    visibility: hidden;
}
%invisible {
    @include invisible;
}
