//sass style
//-----------------------------------
// _footer.scss



/**************************************/
/*               footer               */
/**************************************/

// footer
> .footer {
    @include remCalc("margin-top", 26);
    @include remCalc("padding", 0 16);

    // list
    > .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > li {
            flex: 0 0 32.3%;
            // flex: 0 0 (100 - ((5 / $base-font-size) * 3)) / 3 * 1%;
            // @include remCalc("margin-right", 5);
            @include remCalc("margin-bottom", 5);
            @include remCalc("padding", 16 0 11);
            @include remCalc("border-radius", 3);
            text-align: center;
            background-color: #f9f9f9;

            // &:nth-child(3n) {
            //     margin-right: 0;
            // }

            &:nth-child(4),
            &:nth-child(5) {
                flex: 0 0 49.3%;
            }

            // top
            > .top {
                display: flex;
                align-items: center;
                justify-content: center;
                @include remCalc("margin-bottom", 9);
                line-height: 1;
                color: $base-heading-color;
                @include font-size(16);

                > .txt {
                    @include inline-block(bottom);
                    @include remCalc("margin-left", 11);
                    color: rgba(156, 156, 156, 0.87);
                    @include font-size(12);
                }

                > .ui_icon {
                    @include remCalc("margin-right", 8);
                    @include remCalc("width", 20);
                    @include remCalc("height", 20);
                }
            }
            // top end

            // bottom
            > .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                @include font-size(12);
                line-height: 1;
                color: rgba(156, 156, 156, 0.87);

                // ui_icon
                > .ui_icon {
                    @include remCalc("margin-right", 5);
                    @include remCalc("width", 16);
                    @include remCalc("height", 16);
                }
                // ui_icon end

                a {
                    color: #4492d8;
                }
            }
            // bottom end
        }
    }
    // list end
}
// footer end
