//sass style
//-----------------------------------
// _googlemap.scss



/**************************************/
/*              googlemap             */
/**************************************/

// maps
.maps {
    // mapsinfo
    > .mapsinfo {
        flex: 1;
        position: relative;
        @include min-height(322);
        // googlemaps
        > .googlemaps {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        // googlemaps end

        // maps_info
        .maps_info {
            position: relative;
            // position: absolute;
            // @include remCalc("bottom", 20);
            // @include remCalc("left", 20);
            // @include remCalc("right", 20);
            // @include remCalc("padding", 10);
            background-color: #ffffff;
            color: $base-text-color;
            font-weight: normal;

            // block
            > .block {
                @include remCalc("padding", 10 0);
                @include remCalc("border-bottom", (1 solid #eeeeee));

                &:last-child {
                    border-bottom: none;
                }

                // top
                &.top {
                    // title
                    > .title {
                        font-weight: 500;
                        line-height: 1.71;
                        color: $base-heading-color;
                    }
                    // title end

                    // content
                    > .content {
                        // con
                        > .con {
                            display: flex;
                            align-items: center;
                            @include font-size(12);
                            @include remCalc("margin-bottom", 5);

                            &:last-child {
                                margin-bottom: 0;
                            }

                            // sub
                            > .sub {
                                @include remCalc("margin-right", 10);

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            // sub end

                            // traffic, position
                            > .traffic,
                            > .position {
                                flex: 1;
                                text-align: right;
                            }

                            > .position {
                                color: $base-color;
                            }
                            // traffic, position end
                            // cate
                            > .cate {
                                color: $base-text-color2;
                            }
                            // cate end
                            // price
                            > .price {
                                color: $base-heading-color;
                            }
                            // price end
                        }
                        // con end
                    }
                    // content end
                }
                // top end

                // bottom
                &.bottom {
                    display: flex;
                    align-items: center;

                    // content
                    > .content {
                        flex: 1;
                        @include remCalc("margin-right", 18);
                        @include font-size(10);
                        line-height: 1.2;

                        // con
                        > .con {
                            display: flex;
                            // align-items: center;
                            @include remCalc("margin-bottom", 5);

                            &:last-child {
                                margin-bottom: 0;
                            }

                            // ui_icon
                            > .ui_icon {
                                @include remCalc("margin-right", 5);
                                @include remCalc("width", 14);
                                @include remCalc("height", 14);
                            }
                            // ui_icon end

                            // txt
                            > .txt {
                                flex: 1;
                            }
                            // txt end
                        }
                        // con end
                    }
                    // content end
                }
                // bottom end
            }
            // block end

            // btn_close
            > .btn_close {
                position: absolute;
                top: 0;
                right: 0;
                background-color: $base-text-color2;
                color: #ffffff;

                // ui_icon
                > .ui_icon {
                    @include remCalc("width", 24);
                    @include remCalc("height", 24);
                }
                // ui_icon end
            }
            // btn_close end
        }
        // maps_info end
    }
    // mapsinfo end
}
// maps end
