@charset "utf-8";

//sass style
//-----------------------------------
// contactus.scss



/**************************************/
/*            contact us              */
/**************************************/

// pages
.pages{
    // contactus
    &.contactus {
        @include remCalc("padding", 10 0);
        background-color: transparent;

        // content
        > .content {
            // form
            > form {
                // ui_text
                > .ui_text {
                    // col
                    &.col {
                        flex-wrap: wrap;
                        margin-bottom: 0;

                        // label
                        > .label {
                            display: none;
                        }
                        // label

                        &.message {
                            @include remCalc("margin", 0 0 10);

                            // label
                            > .label {
                                display: block;
                                flex: 0 0 100%;
                                @include remCalc("margin", 0 0 5);
                                @include remCalc("padding", 0 10);
                                text-align: left;
                            }
                            // label
                        }

                        // content
                        > .content {
                            .error,
                            .tips {
                                @include remCalc("padding", 0 10);
                            }

                            .input,
                            .select,
                            .textarea {
                                max-width: none;
                                @include remCalc("padding", 20 10);
                                border: none;
                            }
                            .input,
                            .select {
                                @include remCalc("height", 50);
                            }
                            .select {
                                width: 100%;
                            }
                            .textarea {
                                @include remCalc("height", 182);
                            }

                            // ui_text_group
                            > .ui_text_group {
                                // icon
                                &.icon {
                                    > .ui_icon {
                                        @include remCalc("left", 10);
                                        @include remCalc("width", 24);
                                        @include remCalc("height", 24);
                                    }

                                    // input
                                    > .input {
                                        @include remCalc("padding", 18 10 18 49);
                                    }
                                    // input end
                                }
                                // icon end

                            }
                            // ui_text_group end
                        }
                        // content end
                    }
                    // col end
                }
                // ui_text end
            }
            // form end
        }
        // content end
    }
    // contactus end
}
// pages end
