@charset "utf-8";

//sass style
//-----------------------------------
// contactus.scss



/**************************************/
/*            contact us              */
/**************************************/

// pages
.pages{
    // contactus
    &.contactus {
        // content
        > .content {
            // block
            > .block {
                @include margin-center;
                @include remCalc("max-width", 510);
                // form
                > form {
                    // ui_text
                    > .ui_text {
                        // col
                        &.col {
                            // label
                            > .label {
                                // max-screen
                                @include max-screen($base-max-screen){
                                    @include remCalc("width", 78);
                                }
                                // max-screen end
                            }
                            // label
                            // content
                            > .content {
                                .input {
                                    max-width: none;
                                }
                                .select {
                                    width: 100%;
                                }
                                .textarea {
                                    max-width: none;
                                }
                            }
                            // content end
                        }
                        // col end
                    }
                    // ui_text end
                }
                // form end
            }
            // block end
        }
        // content end
    }
    // contactus end
}
// pages end
