@charset "utf-8";

//sass style
//-----------------------------------
// pages.scss



/**************************************/
/*               pages                */
/**************************************/

// pages
.pages{
    // content
    > .content {
        // block
        > .block {
            @include remCalc("margin-bottom", 20);

            &:last-child {
                margin-bottom: 0;
            }

            // title
            > .title {
                font-weight: 500;
                @include font-size(14);
                line-height: 1;
                @include remCalc("margin-bottom", 12);
            }
            // title end

            // content
            > .content {
                p {
                    @include font-size(14);
                    @include remCalc("margin-bottom", 10);
                    line-height: 1.43;

                    &.fb {
                        font-weight: bold;
                    }

                    &.time{
                        color: $base-text-color2;
                        @include font-size(12);
                        @include remCalc("margin-bottom", 10);
                    }
                }

                .list {
                    > li {
                        @include font-size(14);
                        @include remCalc("margin-bottom", 5);
                        line-height: 1.43;
                        list-style: disc;
                        @include remCalc("margin-left", 15);
                        @include remCalc("padding-left", 5);
                    }

                    &.url {
                        > li {
                            display: inline-block;
                            vertical-align: middle;
                            width: 20%;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
            // content end
        }
        // block end
    }
    // content end
}
// pages end
