<!DOCTYPE html>
<html>

<head>
    <title>CariMakan</title>
    <meta charset="utf-8">
    <!--[if IE ]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="ie-stand">
    <![endif]-->

    <meta http-equiv="Window-target" content="_top" />
    <meta name="viewport" content="width=device-width, target-densitydpi=high-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="tencent-x5-page-direction" content="landscape">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PixPO">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">

    <!-- DNS預解析 -->
    <link rel="preconnect" href="//www.carimakan.id">
    <link rel="dns-prefetch" href="//www.carimakan.id">

    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//partner.gooleadservices.com">
    <link rel="dns-prefetch" href="//google.com.tw">
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//pubads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//graph.facebook.com">
    <link rel="dns-prefetch" href="//facebook.com">
    <link rel="dns-prefetch" href="//connect.facebook.net">
    <!--/ end DNS預解析 -->

    <meta name=robots content=noarchive>
    <meta name=google content=notranslate>

    <meta property="fb:pages" content="" />
    <meta property="fb:app_id" content="" />

    <meta name="Copyright" content="©2017 CariMakan All Rights Reserved."/>
    <meta name="description" content="description" />
    <meta name="keywords" content="keywords" />
    <meta property="og:site_name" content="og:site_name" />
    <meta property="og:title" content="og:title" />
    <meta property="og:url" content="og:url" />
    <meta property="og:description" content="og:description" />

    <script language='javascript'>
    if (top != self) {
        top.location.href = self.location.href;
    }
    </script>

    <!--[if lt IE 9]>-->
        <script type="text/javascript" src="/js/lib/html5.js"></script>
        <script type="text/javascript" src="/js/lib/css3-mediaqueries.js"></script>
    <!--[endif]-->

    <!-- favicon -->
    <link rel="icon" href="/images/favicon.png" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="bookmark" href="/images/favicon.png" />
    <!--/ end favicon -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <!--/ end css -->
</head>

<body>
    <div id="fb-root"></div>

    <!-- wrap -->
    <div id="wrap" class="wrap">
        <!-- header -->
        <header id="header" class="wrap_header">
            <!-- container -->
            <div class="container">
                <!-- banner -->
                <section class="banner">
                    <ul class="list">
                        <!-- loop list -->
                        <li>
                            <a href="#" class="img">
                                <img src="/images/test/banner.jpg">
                            </a>
                        </li>
                        <!--/ end loop list -->
                    </ul>
                </section>
                <!--/ end banner -->

                <!-- main -->
                <section class="main">
                    <!-- city -->
                    <div class="city">
                        Jakarta
                    </div>
                    <!--/ end city -->

                    <!-- search -->
                    <div class="search">
                        <form action="">
                            <div class="ui_text ui_text_group icon">
                                <input class="input" type="text" name="" value="" placeholder="Search">
                                <svg class="ui_icon ui_icon_svg">
                                    <use xlink:href="#icon_search"></use>
                                </svg>
                            </div>
                        </form>
                    </div>
                    <!--/ end search -->

                    <!-- nav -->
                    <nav class="nav">
                        <!-- list -->
                        <ul class="list">
                            <!-- user -->
                            <li>
                                <a href="">
                                    <svg class="ui_icon ui_icon_svg">
                                        <use xlink:href="#icon_user"></use>
                                    </svg>
                                </a>
                            </li>
                            <!--/ end user -->
                        </ul>
                        <!--/ end list -->
                    </nav>
                    <!--/ end nav -->
                </section>
                <!--/ end main -->
            </div>
            <!--/ end container -->
        </header>
        <!--/ end header -->

        <!-- container -->
        <div id="container" class="wrap_container">
            <!-- home -->
            <div class="home container">
                <!-- ui_block postlist -->
                <section class="ui_block postlist">
                    <!-- content  -->
                    <div class="content">
                        <ul class="ui_postlist">
                            <!-- loop list -->
                            <li>
                                <a href="/detail.html">
                                    <!-- img -->
                                    <div class="img">
                                        <img src="http://p1.meituan.net/apiback/ce43ac7bdeea4ba66080ff8bc28b26cc104528.jpg%40300w_225h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20" />
                                    </div>
                                    <!--/ end img -->

                                    <!-- content -->
                                    <div class="content">
                                        <!-- time -->
                                        <div class="time">
                                            Nov 07, 2017
                                        </div>
                                        <!--/ end time -->
                                        <!-- title -->
                                        <h3 class="title">
                                            Sushi Tei - Lippo Kemang Village Mall
                                        </h3>
                                        <!--/ end title -->
                                    </div>
                                    <!--/ end content -->
                                </a>
                            </li>
                            <!--/ end loop list -->
                        </ul>
                    </div>
                    <!--/ end content -->
                </section>
                <!--/ end ui_block postlist -->

                <!-- ui_filter -->
                <section class="ui_filter">
                    <!-- content -->
                    <div class="content">
                        <!-- list  -->
                        <ul class="list">
                            <!-- Area -->
                            <li>
                                <!-- title -->
                                <h2 class="title triangles">Area</h2>
                                <!--/ end title -->
                                <!-- content -->
                                <div class="content">
                                    content
                                </div>
                                <!--/ end content -->
                            </li>
                            <!--/ end Area -->

                            <!-- Category -->
                            <li class="cur">
                                <!-- title -->
                                <h2 class="title triangles">Category</h2>
                                <!--/ end title -->

                                <!-- content -->
                                <div class="content nav">
                                    <!-- list -->
                                    <ul class="list">
                                        <!-- loop list -->
                                        <li>
                                            <!-- title -->
                                            <h3 class="title">
                                                Makanan Berat
                                            </h3>
                                            <!--/ end title -->

                                            <!-- sub_list -->
                                            <ul class="sub_list">
                                                <!-- loop list -->
                                                <li>
                                                    <h3 class="title">
                                                        Chinese Food
                                                    </h3>
                                                </li>
                                                <!--/ end loop list -->
                                                <li>
                                                    <h3 class="title">
                                                        Chinese Food
                                                    </h3>
                                                </li>
                                                <li>
                                                    <h3 class="title">
                                                        Chinese Food
                                                    </h3>
                                                </li>
                                            </ul>
                                            <!--/ end sub_list -->
                                        </li>
                                        <!--/ end loop list -->
                                    </ul>
                                    <!--/ end list -->
                                </div>
                                <!--/ end content -->
                            </li>
                            <!--/ end Category -->

                            <!-- Sort -->
                            <li>
                                <!-- title -->
                                <h2 class="title triangles">Sort</h2>
                                <!--/ end title -->

                                <!-- content -->
                                <div class="content sort">
                                    <ul class="list">
                                        <!-- loop list -->
                                        <li>
                                            <a href="#">
                                                <svg class="ui_icon ui_icon_svg">
                                                    <use xlink:href="#icon_check"></use>
                                                </svg>
                                                <span>
                                                    Smart Sort
                                                </span>
                                            </a>
                                        </li>
                                        <!--/ end loop list -->
                                        <li class="cur">
                                            <a href="#">
                                                <svg class="ui_icon ui_icon_svg">
                                                    <use xlink:href="#icon_check"></use>
                                                </svg>
                                                <span>
                                                    Distance first
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="ui_icon ui_icon_svg">
                                                    <use xlink:href="#icon_check"></use>
                                                </svg>
                                                <span>
                                                    Score
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="ui_icon ui_icon_svg">
                                                    <use xlink:href="#icon_check"></use>
                                                </svg>
                                                <span>
                                                    Prices low to high
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--/ end content -->
                            </li>
                            <!--/ end Sort -->

                            <!-- Filter -->
                            <li>
                                <!-- title -->
                                <h2 class="title">
                                    <svg class="ui_icon ui_icon_svg">
                                        <use xlink:href="#icon_filter"></use>
                                    </svg>
                                    <span>
                                        Filter
                                    </span>
                                </h2>
                                <!--/ end title -->

                                <!-- content -->
                                <div class="content filter">
                                    <!-- filter -->
                                    <form action="">
                                        <!-- block -->
                                        <fieldset class="block ui_text">
                                            <!-- title -->
                                            <legend class="title">Service & Facility</legend>
                                            <!--/ end title -->
                                            <div class="content">
                                                <!-- loop list -->
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_wifi"></use>
                                                        </svg>
                                                        <span>
                                                            Free Wifi
                                                        </span>
                                                    </span>
                                                </label>
                                                <!--/ end loop list -->
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_creditcard"></use>
                                                        </svg>
                                                        <span>
                                                            Credit Card
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_carparking"></use>
                                                        </svg>
                                                        <span>
                                                            Car parking
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_ac"></use>
                                                        </svg>
                                                        <span>
                                                            Air conditioner
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_takeaway"></use>
                                                        </svg>
                                                        <span>
                                                            Take-away
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_nocharge"></use>
                                                        </svg>
                                                        <span>
                                                            No Service Charge
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_checkbox">
                                                    <input class="checkbox" value="" type="checkbox" name="">
                                                    <span class="magin_icon">
                                                        <svg class="ui_icon ui_icon_svg">
                                                            <use xlink:href="#icon_reserve"></use>
                                                        </svg>
                                                        <span>
                                                            Reservation
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                        </fieldset>
                                        <!--/ end block -->

                                        <!-- block -->
                                        <fieldset class="block ui_text">
                                            <!-- title -->
                                            <legend class="title">Price Range/ Orang</legend>
                                            <!--/ end title -->
                                            <div class="content">
                                                <!-- loop list -->
                                                <label class="ui_text_group magic_radio">
                                                    <input class="radio" value="" type="radio" name="">
                                                    <span class="magin_icon">
                                                        Rp 25k ↓
                                                    </span>
                                                </label>
                                                <!--/ end loop list -->
                                                <label class="ui_text_group magic_radio">
                                                    <input class="radio" value="" type="radio" name="">
                                                    <span class="magin_icon">
                                                        Rp 25k - 50k
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_radio">
                                                    <input class="radio" value="" type="radio" name="">
                                                    <span class="magin_icon">
                                                        Rp 50k - 100k
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_radio">
                                                    <input class="radio" value="" type="radio" name="">
                                                    <span class="magin_icon">
                                                        Rp 100k - Rp 150k
                                                    </span>
                                                </label>
                                                <label class="ui_text_group magic_radio">
                                                    <input class="radio" value="" type="radio" name="">
                                                    <span class="magin_icon">
                                                        Rp 150k↑
                                                    </span>
                                                </label>
                                            </div>
                                        </fieldset>
                                        <!--/ end block -->

                                        <!-- btn -->
                                        <div class="ui_text btn">
                                            <input class="ui_btn btn2" type="reset" value="Reset">
                                            <input class="ui_btn btn1" type="submit" value="Apply Filter">
                                        </div>
                                        <!--/ end btn -->
                                    </form>
                                    <!--/ end filter -->
                                </div>
                                <!--/ end content -->
                            </li>
                            <!--/ end Filter -->
                        </ul>
                        <!--/ end list -->
                    </div>
                    <!--/ end content -->
                </section>
                <!--/ end ui_filter -->

                <!-- ui_block -->
                <section class="ui_block">
                    <!-- content  -->
                    <div class="content">
                        <!-- ui_shoplist -->
                        <ul class="ui_shoplist">
                            <!-- loop list -->
                            <li>
                                <a href="/shop.html">
                                    <!-- img -->
                                    <div class="img">
                                        <img src="http://p1.meituan.net/poirichness/menu_11479032_460955583.jpg%40249w_249h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
                                    </div>
                                    <!--/ end img -->
                                    <!-- content -->
                                    <div class="content">
                                        <!-- title -->
                                        <h3 class="title">
                                            IG Popular Food You must to try
                                        </h3>
                                        <!--/ end title -->

                                        <!-- comments -->
                                        <div class="comments">
                                            <!-- ui_icon icon_stars -->
                                            <i class="ui_icon icon_stars block">
                                                <!-- width = 個數 * 12 -->
                                                <i class="star" style="width: calc(3.5*12px);"></i>
                                            </i>
                                            <!--/ end ui_icon icon_stars -->

                                            <!-- comment -->
                                            <div class="comment block">
                                                comment Reviews
                                            </div>
                                            <!--/ end comment -->
                                        </div>
                                        <!--/ end comments -->

                                        <!-- info -->
                                        <div class="info">
                                            <!-- price -->
                                            <div class="price block">price</div>
                                            <!--/ end price -->
                                            <!-- cate -->
                                            <div class="cate block">cate</div>
                                            <!--/ end cate -->
                                        </div>
                                        <!--/ end info -->

                                        <!-- region -->
                                        <div class="region">
                                            <!-- address -->
                                            <div class="address block">address</div>
                                            <!--/ end address -->
                                            <!-- position -->
                                            <div class="position block">position</div>
                                            <!--/ end position -->
                                        </div>
                                        <!--/ end region -->
                                    </div>
                                    <!--/ end content -->
                                </a>
                            </li>
                            <!--/ end loop list -->

                            <li>
                                <a href="/shop.html">
                                    <!-- img -->
                                    <div class="img">
                                        <img src="http://p1.meituan.net/poirichness/menu_11479032_460955583.jpg%40249w_249h_1e_1c_1l%7Cwatermark%3D1%26%26r%3D1%26p%3D9%26x%3D2%26y%3D2%26relative%3D1%26o%3D20">
                                    </div>
                                    <!--/ end img -->
                                    <!-- content -->
                                    <div class="content">
                                        <!-- title -->
                                        <h3 class="title">
                                            Sushi Tei - Lippo Kemang Village Mall
                                        </h3>
                                        <!--/ end title -->

                                        <!-- comments -->
                                        <div class="comments">
                                            <!-- ui_icon icon_stars -->
                                            <i class="ui_icon icon_stars block">
                                                <!-- width = 個數 * 12 -->
                                                <i class="star" style="width: calc(4*12px);"></i>
                                            </i>
                                            <!--/ end ui_icon icon_stars -->

                                            <!-- comment -->
                                            <div class="comment block">
                                                232231 Reviews
                                            </div>
                                            <!--/ end comment -->
                                        </div>
                                        <!--/ end comments -->

                                        <!-- info -->
                                        <div class="info">
                                            <!-- price -->
                                            <div class="price block">
                                                Rp 15k/ Orang
                                            </div>
                                            <!--/ end price -->
                                            <!-- cate -->
                                            <div class="cate block">
                                                Italian Cuisines
                                            </div>
                                            <!--/ end cate -->
                                        </div>
                                        <!--/ end info -->

                                        <!-- region -->
                                        <div class="region">
                                            <!-- address -->
                                            <div class="address block">
                                                Atlantic Street Center
                                            </div>
                                            <!--/ end address -->
                                            <!-- position -->
                                            <div class="position block">
                                                182m
                                            </div>
                                            <!--/ end position -->
                                        </div>
                                        <!--/ end region -->
                                    </div>
                                    <!--/ end content -->
                                </a>
                            </li>

                            <li class="nomore">
                                No more data to show
                            </li>
                        </ul>
                        <!--/ end ui_shoplist -->

                    </div>
                    <!--/ end content -->
                </section>
                <!--/ end ui_block -->
            </div>
            <!--/ end home -->
        </div>
        <!--/ end container -->

        <!-- footer -->
        <footer id="footer" class="wrap_footer"></footer>
        <!--/ end footer -->
    </div>
    <!--/ end wrap -->


    <!-- script js -->
    <script type="text/javascript" src="/js/lib/plugin.js"></script>
    <script type="text/javascript" src="/js/lib/OMIS.js"></script>
    <script type="text/javascript" src="/js/platform/fb.js"></script>
    <script type="text/javascript" src="/js/com.js"></script>
    <!--/ end script js -->

    <!-- tpl -->
    <!-- tpl_ui_popup_window -->
    <script id="tpl_ui_popup_window" type="text/x-jsrender">
        <section class="ui_dialog_popup">
            {{if title}}
            <!-- header -->
            <header class="header">
                <h2 class="title">
                    {{:title}}
                </h2>
            </header>
            <!--/ end header -->
            {{/if}}
            <!-- main -->
            <div class="main">
                {{:content}}
            </div>
            <!--/ end main -->
            {{if doneBtn ||  cancelBtn}}
            <!-- footer -->
            <footer class="footer">
                <div class="btn">
                    {{if doneBtn}}
                    <a class="ui_btn btn1 dialog_done">
                        {{:doneBtnText}}
                    </a>
                    {{/if}}
                    {{if cancelBtn}}
                    <a class="ui_btn btn_cancel btn_close dialog_cancel">
                        {{:cancelBtnText}}
                    </a>
                    {{/if}}
                </div>
            </footer>
            <!--/ end footer -->
            {{/if}}
        </section>
    </script>
    <!-- /end tpl_ui_popup_window -->

    <!-- tpl_selectcity -->
    <script id="tpl_selectcity" type="text/x-jsrender">
        <div class="selectcity">
            <ul class="list">
                <!-- loop list -->
                <li>
                    <a href="#">
                        <svg class="ui_icon ui_icon_svg">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                        <span>
                            West Jakarta
                        </span>
                    </a>
                </li>
                <!--/ end loop list -->
                <li class="cur">
                    <a href="#">
                        <svg class="ui_icon ui_icon_svg">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                        <span>
                            North Jakarta
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </script>
    <!-- /end tpl_selectcity -->

    <!--/ end tpl -->


    <!-- svg icons -->
    <div style="display: none;">
    </div>
    <!--/ end svg icons -->

</body>

</html>
