//sass style
//-----------------------------------
// _content.scss



/**************************************/
/*               content              */
/**************************************/

// voucher
.voucher {
    // detail
    &.detail {
        // content
        > .content {
            @include remCalc("margin-top", 22);
            @include remCalc("padding", 0 10 55);
            color: $base-text-color;

            p {
                @include font-size(14);
                @include remCalc("margin-bottom", 20);
                line-height: 1.43;
            }

            .list {
                > li {
                    @include font-size(12);
                    @include remCalc("margin-bottom", 5);
                    line-height: 1.67;
                    list-style: disc;
                    @include remCalc("margin-left", 15);
                    @include remCalc("padding-left", 5);
                }
            }
        }
        // content end
    }
    // detail end
}
// voucher end
