@charset "utf-8";

//sass style
//-----------------------------------
// _main.scss


/**************************************/
/*                main                */
/**************************************/

// main
> .wrap_header {

    // container
    > .container {

        // main
        > .main {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            @include remCalc("padding", 15 10);

            // city
            > .city {
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, 0.87);
                @include font-size(16);
                @include remCalc("margin-right", 9);

                &:after {
                    @include remCalc("margin", 4);
                    @include triangles("arrow", "bottom", #ffffff, 6, 1);
                    content: "";
                }
            }
            // city end

            // search
            > .search {
                flex: 1;
                @include remCalc("margin-right", 36);
                // ui_text
                .ui_text {
                    > .input {
                        border-color: transparent;
                        @include remCalc("border-radius", 100);
                        @include remCalc("padding", 6 6 6 28);
                        @include font-size(12);
                        height: auto;
                        line-height: 1.33;
                    }
                    > .ui_icon {
                        @include remCalc("left", 8);
                        @include remCalc("width", 16);
                        @include remCalc("height", 16);
                        color: $base-color;
                    }
                }
                // ui_text end
            }
            // search end

            // nav
            > .nav {
                // flex: 1;
                @extend %scroll-x-layout;
                > .list {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    > li {
                        > a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: #ffffff;

                            > .ui_icon {
                                @include remCalc("width", 24);
                                @include remCalc("height", 24);
                            }

                            &:hover {}
                        }
                    }
                }
            }
            // nav end

            // fixed
            &.fixed {
                position: fixed;
                background-color: $base-color;
                z-index: 9;
            }
            // fixed end
        }
        // main end
    }
    // container end


}
// main end
