@charset "utf-8";

//sass style
//-----------------------------------
// _navigation.scss


/**************************************/
/*             navigation             */
/**************************************/

// nav
> .wrap_header {

    // container
    > .container {

        // nav
        > .nav {
            position: relative;
            // display: flex;
            // align-items: center;
            @include remCalc("padding", 16 10);
            @include remCalc("box-shadow", (0 0.5 0 0 rgba(0, 0, 0, 0.24)));
            background-color: #ffffff;
            @include min-height(59);

            // tools
            > .tools {
                position: absolute;
                // top: 0;
                display: flex;
                align-items: center;
                @include position-center(top);
                // flex: 1;

                // :not(:first-child):not(:last-child)
                &:not(:first-child):not(:last-child) {
                    // justify-content: center;
                }
                // :not(:first-child):not(:last-child) end

                // first-child
                &:first-child {
                    @include remCalc("left", 10);
                }
                // first-child end

                // last-child
                &:last-child {
                    @include remCalc("right", 10);
                }
                // last-child end

                > li {
                    @include remCalc("margin-left", 18);
                    &:first-child {
                        margin-left: 0;
                    }

                    > a {
                        color: $base-text-color;

                        // ui_icon
                        > .ui_icon {
                            @include remCalc("width", 24);
                            @include remCalc("height", 24);
                        }
                        // first-child end
                    }
                }
            }
            // tools end

            // title
            > .title {
                @include remCalc("padding", 0 70);
                // @include font-size(20);
                font-weight: 500;
                // line-height: 1.4;
                text-align: center;
                @include ellipsis(1, 20, 1.4);
            }
            // title end

            // search
            > .search {
                @include remCalc("padding", 0 70);

                // ui_text
                .ui_text {
                    > .input {
                        border-color: transparent;
                        @include remCalc("border-radius", 100);
                        @include remCalc("padding", 6 6 6 28);
                        @include font-size(14);
                        height: auto;
                        line-height: 1.43;
                        color: $base-heading-color;
                    }
                    > .ui_icon {
                        @include remCalc("left", 8);
                        @include remCalc("width", 16);
                        @include remCalc("height", 16);
                        color: $base-color;
                    }
                }
                // ui_text end
            }
            // search end

            // nav_search
            &.nav_search {
                background-color: $base-color;

                // tools
                > .tools {
                    > li {
                        > a {
                            color: #ffffff;
                        }
                    }
                }
                // tools end

                // search
                > .search {
                    @include remCalc("padding", 0 0 0 34);
                }
                // search end
            }
            // nav_search end
        }
        // nav end
    }
    // container end

}
// nav end
