@charset "utf-8";

//sass style
//-----------------------------------
// _banner.scss


/**************************************/
/*               banner               */
/**************************************/

// banner
> .wrap_header {

    // banner
    > .banner {
        position: relative;
        @include remCalc("margin-bottom", -36);
        @include remCalc("height", 302);
        overflow: hidden;

        // list
        > .list {
            position: relative;
            white-space: nowrap;
            height: 100%;

            > li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                @include inline-block(top);

                > a {
                    display: block;

                    > .img {
                        width: 100%;
                        img {
                            width: 100%;
                            max-width: none;
                            max-height: none;
                        }
                    }
                }
            }
        }
        // list end

        > .nav {
            @include position-center(left);
            @include remCalc("bottom", 29);

            > li {
                @include inline-block;
                @include remCalc("margin-right", 7);
                @include remCalc("width", 12);
                @include remCalc("height", 12);
                @include remCalc("border", (2 solid #ffffff));
                border-radius: 50%;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.cur {
                    background-color: #ffffff;
                }
            }
        }
    }
    // banner end

}
// banner end
