@charset "utf-8";

//sass style
//-----------------------------------
// _banner.scss


/**************************************/
/*               banner               */
/**************************************/

// banner
> .wrap_header {

    // banner
    > .banner {
        @include remCalc("margin-top", -35);

        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        overflow: hidden;

        // list
        > .list {
            > li {
                @include inline-block(top);

                > a {
                    display: block;
                }
            }
        }
        // list end
    }
    // banner end

}
// banner end
