@charset "utf-8";

//sass style
//-----------------------------------
// _top.scss


/**************************************/
/*                 top                */
/**************************************/

// footer
> .wrap_footer {

    // top
    > .top {
        display: flex;
        align-items: center;
        // @include emCalc("margin-bottom", 8);
        @include remCalc("margin-bottom", 8);

        // max-screen
        @include max-screen($base-max-screen){
            display: block;
        }
        // max-screen end

        // copyright
        > .copyright {
            @include font-size(12);
            // max-screen
            @include max-screen($base-max-screen){
                // @include emCalc("margin-bottom", 8);
                @include remCalc("margin-bottom", 8);
            }
            // max-screen end
        }
        // copyright end

        // ui_nav
        > .ui_nav {
            flex: 1;

            > li {
                display: flex;
                align-items: center;
                // @include emCalc("margin-left", 8);
                @include remCalc("margin-left", 8);

                // max-screen
                @include max-screen($base-max-screen){
                    &:first-child {
                        margin-left: 0;
                    }
                }
                // max-screen end

                &:after {
                    // @include remCalc("margin-left", 8);
                    // @include remCalc("width", 1);
                    // @include remCalc("height", 12);
                    @include emCalc("margin-left", 8);
                    @include emCalc("width", 1);
                    @include emCalc("height", 12);
                    background-color: $base-text-color2;
                    content: "";
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                > a {
                    line-height: 1.5;
                    color: $base-text-color2;
                    @include font-size(12);
                }
            }
        }
        // ui_nav end
    }
    // top end
}
// footer end
