//sass style
//-----------------------------------
// _checkin.scss



/**************************************/
/*               checkin              */
/**************************************/

// maps
.maps {
    // checkin
    &.checkin {
        padding: 0;
        display: flex;
        flex-direction: column;

        // top
        > .top {
            flex: 1;
            @include remCalc("padding", 30 0);
            text-align: center;

            // ui_icon
            > .ui_icon {
                @include remCalc("margin-bottom", 20);
                @include remCalc("width", 125);
                @include remCalc("height", 125);
                @include remCalc("padding", 30);
                @include remCalc("border", (2 solid #eeeeee));
                border-radius: 50%;
                color: $base-color;
            }
            // ui_icon end

            // title
            > .title {
                @include font-size(20);
                font-weight: 500;
                line-height: 1.4;
                color: $base-heading-color;

                > .points {
                    color: $base-color;
                }
            }
            // title end
        }
        // top end

        // bottom
        > .bottom {
            position: relative;
            @include remCalc("padding", 30 90 83);
            background-color: #2b2f32;
            text-align: center;

            &:before {
                position: absolute;
                @include remCalc("top", -78);
                @include remCalc("width", 110);
                @include remCalc("height", 78);
                @include position-center(left);
                background: url($bast-images-path + '/bg_watering.png') no-repeat center center;
                background-size: contain;
                content: "";
            }

            > p {
                line-height: 1.43;
                color: #ffffff;
            }

            > .ui_btn {
                @include remCalc("margin-top", 30);
            }
        }
        // bottom end
    }
    // checkin end
}
// maps end
