//sass style
//-----------------------------------
// _recommend.scss



/**************************************/
/*              recommend             */
/**************************************/

// maps
.maps {
    // recommend
    > .recommend {
        padding: 0;

        // title
        > .title {
            position: relative;
            margin-bottom: 0;
            @include remCalc("padding", 18);
            @include font-size(16);
            line-height: 1.5;
            text-align: center;
            background-color: #ffffff;
            @include remCalc("box-shadow", (0 0 20 0 rgba(0, 0, 0, 0.24)));

            > .num {
                color: $base-color;
            }

            &:after {
                position: absolute;
                @include remCalc("top", 25);
                @include remCalc("right", 18);
                @include triangles("arrow", "bottom", $base-heading-color, 9, 2);
            }
        }
        // title end

        // content
        > .content {
            display: none;
            @include remCalc("padding", 15 0);
            // ui_shoplist
            > .ui_shoplist {
                > li {
                    margin: 0;
                }
            }
            // ui_shoplist end
        }
        // content end

        &.active {
            // title
            > .title {
                &:after {
                    @include remCalc("top", 30);
                    @include triangles("arrow", "top", $base-heading-color, 9, 2);
                }
            }
            // title end

            // content
            > .content {
                display: block;
            }
            // content end
        }
    }
    // recommend end
}
// maps end
