@charset "utf-8";

//sass style
//-----------------------------------
// _svgToDataUrl.scss




/**************************************/
/*           svgToDataUrl             */
/**************************************/
// sass-encodeuri.scss
/* 语法如下：
sass-svg-encodeuri($svg-string);
实例：

$svg: '<svg viewBox="0 0 750 400" width="750" height="400">
			<path d="M0,0 L750,0 L750,400 L388,400 L375,387, L362,400 L0,400Z" fill="#0f0"></path>
		</svg>';
background: url(sass-svg-encodeuri($svg)) 0 0 no-repeat;
background-size: 100% 100%;
*/

@import "svgToDataUrl/_sass-encodeuri";

// sass-svg-base64.scss
/* 语法如下：
sass-svg-base64($svg-string);
实例：

$svg: '<svg viewBox="0 0 750 400" width="750" height="400">
			<path d="M0,0 L750,0 L750,400 L388,400 L375,387, L362,400 L0,400Z" fill="#0f0"></path>
		</svg>';
background: url(sass-svg-base64($svg)) 0 0 no-repeat;
background-size: 100% 100%;
*/
@import "svgToDataUrl/_sass-svg-base64";
