//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*               layout               */
/**************************************/

.reviews {
    // share
    > .share {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        @include remCalc("padding", 10 13);
        @include remCalc("border-top", (1 solid #cccccc));
        background-color: #ffffff;

        // list
        > .list {
            > li {
                @include inline-block;
                @include remCalc("margin-right", 15);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        // list end
    }
    // share end
}
