@charset "utf-8";

//sass style
//-----------------------------------
// _layout.scss




/**************************************/
/*               layout               */
/**************************************/

// js-scroll-layout
%js-scroll-layout {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
// js-scroll-layout end

// scroll-x-layout
%scroll-x-layout {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
// scroll-x-layout end


// review-stars
// %review-stars {
//     position: relative;
//     // @include remCalc("width", 12 * 6);
//     // @include remCalc("height", 12);
//     width: 72px;
//     height: 12px;
//     background-image: url($bast-images-path + 'review/bg_review_star.png');
//     background-repeat: repeat-x;
//     background-position: 0 0;
//     background-size: contain;

//     > .star {
//         position: absolute;
//         top: 0;
//         left: 0;
//         // @include remCalc("height", 12);
//         height: 12px;
//         background-image: url($bast-images-path + 'review/bg_review_star_full.png');
//         background-repeat: repeat-x;
//         background-position: 0 0;
//         background-size: contain;
//     }
// }
// review-stars end


// review-footer
%review-footer {
    @include remCalc("margin-top", 10);
    @include remCalc("border-top", (1 solid $base-border-color));

    // list
    > .list {
        display: flex;
        align-items: center;

        // li
        > li {
            line-height: 0.86;
            @include remCalc("padding", 13 0);
            @include remCalc("margin-right", 15);

            &:last-child {
                margin-right: 0;
            }

            // more
            &.more {
                display: flex;
                flex: 1;
                justify-content: flex-end;
                color: $base-heading-color;
            }
            // more end
        }
        // li end
    }
    // list end
}
// review-footer end


// post-content
%post-content {
    // line-height: 1.43;
    color: $base-text-color;

    blockquote {
        color: $base-text-color2;
        @include remCalc("margin", 0 0 20);
        @include remCalc("padding-left", 16);
        @include remCalc("border-left", (5 solid $base-border-color));

        * {
            color: $base-text-color2;
            @include font-size(16);
        }
    }

    a {}

    p {
        color: $base-text-color;
        @include remCalc("margin", 0 0 20);

        // max-screen
        @include max-screen($base-max-screen) {}
        // max-screen end
    }

    img {
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
        max-height: 100%;
    }

    iframe,
    object,
    embed,
    video {
        width: 100%;
        max-height: 100%;
    }

    // post_img & post_video
    .post_img {
        display: block;
        > img {
            display: block;
            margin: 0 auto;
            height: auto;
            background: url(/images/placeholder_cover.jpg) no-repeat 50%;

            // max-screen
            @include max-screen($base-max-screen){}
            // max-screen end
        }
    }
    .post_video {
        display: block;
        position: relative;
        // @include remCalc("margin-bottom", 20);
        height: 0;
        padding-bottom: 56.25%;

        > iframe,
        > object,
        > embed,
        > video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    // post_img & post_video end
}
// post-content end


// post-imgs
%post-imgs {
    display: flex;
    flex-wrap: wrap;

    // img
    > .img {
        flex: 0 0 floor((100 - ((6 / $base-font-size) * 3)) / 3) * 1%;
        @include remCalc("margin", 0 5 5 0);
        padding-bottom: floor((100 - ((6 / $base-font-size) * 3)) / 3) * 1%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    // img end

    &.one {
        > .img {
            flex: 0 0 100%;
            margin-right: 0;
            padding-bottom: 100%;
        }
    }

    &.two {
        > .img {
            flex: 0 0 floor((100 - ((5 / $base-font-size) * 2)) / 2) * 1%;
            padding-bottom: floor((100 - ((5 / $base-font-size) * 2)) / 2) * 1%;
            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                @include remCalc("margin", 0 5 5 0);
            }
        }
    }
}
// post-imgs end


