@charset "utf-8";

//sass style
//-----------------------------------
// photos.scss



// _utils.scss
// @import "utils/_utils";

/**************************************/
/*                photos              */
/**************************************/

body {
    background-color: #f3f5f7;
}

// photos
.photos {
    // list
    > .list {
        @include remCalc("padding", 15 20);
        @include remCalc("border", (1 solid #eeeeee));

        // title
        > .title {
            text-align: center;
        }
        // title end

        // nav
        > .nav {
            @include remCalc("margin-top", 24);
            @include remCalc("border-bottom", (1 solid #eeeeee));

            // max-screen
            @include max-screen($base-max-screen){}
            // max-screen end

            // list
            > .list {
                display: flex;
                justify-content: center;
                @extend %scroll-x-layout;

                > li {
                    @include remCalc("margin-right", 60);

                    &:last-child {
                        margin-right: 0;
                    }

                    > a {
                        display: block;
                        @include remCalc("border-bottom", (2 solid transparent));
                        @include remCalc("padding-bottom", 10);
                        @include font-size(14);
                        font-weight: 500;
                        line-height: 1.43;
                        color: $base-heading-color;
                    }

                    &.cur {
                        > a {
                            border-bottom-color: $base-color;
                        }
                    }
                }
            }
            // list end
        }
        // nav end

        // content
        > .content {
            @include remCalc("padding", 20 0);

            // list
            > .list {
                display: flex;
                flex-wrap: wrap;

                > li {
                    flex: 0 0 floor((100 - ((10 / $base-font-size) * 4)) / 4) * 1%;
                    @include remCalc("margin", 0 10 10 0);

                    &:nth-child(4n) {
                        margin-right: 0;
                    }

                    > .img {
                        position: relative;
                        overflow: hidden;
                        @include remCalc("height", 240);

                        > img {
                            max-width: none;
                            max-height: none;
                            @include position-center;
                        }
                    }
                }
            }
            // list end

            // more
            > .more {
                @include remCalc("margin", 40 0 20);
                text-align: center;

                // ui_btn
                > .ui_btn {
                    @include remCalc("min-width", 320);
                    @include font-size(14);
                    line-height: 1.43;
                    border-radius: 0;
                }
                // ui_btn end
            }
            // more end
        }
        // content end
    }
    // list end
}
// photos end
