//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*               layout               */
/**************************************/
.profile {
    // detail
    &.detail {

        // list
        > .list {
            position: relative;
            @include remCalc("padding", 19 0 0);

            // nav
            > .nav {
                position: absolute;
                left: 0;
                right: 0;
                @include remCalc("top", 19);
                background-color: #ffffff;
                @include remCalc("padding", 0 10);
                @include remCalc("box-shadow", (0 1 0 0 rgba(0, 0, 0, 0.2)));

                // list
                > .list {
                    display: flex;
                    @extend %scroll-x-layout;

                    > li {
                        @include remCalc("margin-right", 20);

                        &:last-child {
                            margin-right: 0;
                        }

                        > a {
                            display: block;
                            @include remCalc("border-bottom", (2 solid transparent));
                            @include remCalc("padding", 13 7 11);
                            font-weight: 500;
                            line-height: 1.71;
                            color: $base-text-color;
                        }

                        &.cur {
                            > a {
                                color: $base-color;
                                border-bottom-color: $base-color;
                            }
                        }
                    }
                }
                // list end

                &.fixed {
                    position: fixed;
                    @include remCalc("top", 59);
                    left: 0;
                    right: 0;
                    z-index: 9;
                }
            }
            // nav end
        }
        // list end
    }
    // detail end
}





