//sass style
//-----------------------------------
// _all.scss



/**************************************/
/*                 all                */
/**************************************/

.reviews {
    // all
    &.all {
        // nav
        > .nav {
            background-color: #ffffff;
            @include remCalc("padding", 20 17);

            // list
            > .list {
                display: flex;
                @extend %scroll-x-layout;

                > li {
                    @include remCalc("margin-right", 10);

                    &:last-child {
                        margin-right: 0;
                    }

                    > a {
                        display: block;
                        @include remCalc("padding", 2 7);
                        @include remCalc("border", (1 solid #dddddd));
                        @include remCalc("border-radius", 3);
                        @include font-size(12);
                        line-height: 1.33;
                        color: $base-text-color;
                    }

                    &.cur {
                        > a {
                            color: $base-color;
                            border-color: $base-color;
                        }
                    }
                }
            }
            // list end
        }
        // nav end
    }
    // all end
}
