//sass style
//-----------------------------------
// _photoslist.scss



/**************************************/
/*             photoslist             */
/**************************************/

// photoslist
&.photoslist {
    // list
    > .list {
        display: flex;
        flex-wrap: wrap;

        > li {
            flex: 0 0 floor((100 - ((5 / $base-font-size) * 3)) / 3) * 1%;
            @include remCalc("margin", 0 5 6 0);

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    // list end
}
// photoslist end
