//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*                layout              */
/**************************************/

// restaurant
.restaurant {
    // detail
    &.detail {
        // promotions
        > .promotions {
            // content
            > .content {
                // ui_voucherlist
                > .ui_voucherlist {
                    > li {
                        > a {
                            @include remCalc("padding", 10 20 10 10);

                            // after
                            &:after {
                                align-self: center;
                                @include remCalc("margin-left", 15);
                                @include triangles("arrow", "left", $base-text-color, 9, 2);
                            }
                            // after end

                            // img
                            > .img {
                                @include remCalc("width", 40);
                                @include remCalc("height", 40);

                                > .txt {
                                    display: none;
                                }
                            }
                            // img end

                            > .content {
                                display: flex;
                                flex-direction: column;

                                // title
                                > .title {
                                    order: 1;
                                    margin: 0;
                                }
                                // title end

                                // diskon
                                > .diskon {
                                    order: 2;
                                    font-style: normal;
                                    font-weight: 500;
                                }
                                // diskon end

                                // con, time
                                > .con,
                                > .time {
                                    display: none;
                                }
                                // con, time end
                            }
                        }


                        &:first-child {
                            > a {
                                padding-top: 0;
                            }
                        }

                        &:last-child {
                            > a {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                // ui_voucherlist end
            }
            // content end
        }
        // promotions end
    }
    // detail end
}
// restaurant end
