//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*                layout              */
/**************************************/

// restaurant
.restaurant {
    // detail
    &.detail {
        // recommend
        > .recommend {
            // content
            > .content {
                // ui_shoplist
                > .ui_shoplist {
                    display: flex;
                    flex-wrap: wrap;
                    > li {
                        flex: 0 0 48.5%;
                        @include remCalc("margin", 0 10 20 0);
                        border: none;

                        &:nth-child(2n) {
                            margin-right: 0;
                        }

                        > a {
                            padding: 0;
                            flex-wrap: wrap;

                            // img
                            > .img {
                                width: 100%;
                                height: auto;
                                margin-right: 0;
                            }
                            // img end

                            // content
                            > .content {
                                flex: 0 0 100%;
                                // title
                                > .title {
                                    @include ellipsis(2, 14, 1.43);
                                }
                                // title end
                                // comments
                                > .comments {
                                    // comment
                                    > .comment {
                                        display: none;
                                    }
                                    // comment end
                                }
                                // comments end
                                // info
                                > .info {
                                    @include remCalc("margin-top", 7);
                                    // price
                                    > .price {
                                        color: #666666;
                                    }
                                    // price end
                                    // cate
                                    > .cate {
                                        display: none;
                                    }
                                    // cate end
                                }
                                // info end
                                // region
                                > .region {
                                    display: none;
                                }
                                // region end
                            }
                            // content end
                        }
                    }
                }
                // ui_shoplist end
            }
            // content end
        }
        // recommend end
    }
    // detail end
}
// restaurant end
