//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*                layout              */
/**************************************/

// restaurant
.restaurant {
    // detail
    &.detail {
        // neararea
        > .neararea {
            // content
            > .content {
                > a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-image: url($bast-images-path + 'bg_area_map.jpg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% 100%;
                    @include remCalc("padding", 20);
                    color: rgba(#ffffff, 0.87);

                    > .ui_btn {
                        @include remCalc("margin-top", 10);
                        color: rgba(#ffffff, 0.87);
                    }
                }
            }
            // content end
        }
        // neararea end
    }
    // detail end
}
// restaurant end
