//sass style
//-----------------------------------
// _reviews.scss



/**************************************/
/*               reviews              */
/**************************************/

// restaurant
.restaurant {
    // detail
    &.detail {
        // tools
        > .tools {
            // position: fixed;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // @include remCalc("box-shadow", (0 -0.5px 0 0 rgba(0, 0, 0, 0.3);));

            // content
            > .content {
                // list
                > .list {
                    display: flex;
                    align-items:center;
                    > li {
                        flex: 1;
                        text-align: center;
                        > a {
                            display: block;
                            color: $base-text-color;

                            // ui_icon
                            > .ui_icon {
                                @include remCalc("width", 28);
                                @include remCalc("height", 28);
                            }
                            // ui_icon end
                        }
                    }
                }
                // list end
            }
            // content end
        }
        // tools end
    }
    // detail end
}
// restaurant end
