@charset "UTF-8";
/**************************************/
/*               Utils                */
/**************************************/
/**************************************/
/*               Values               */
/**************************************/
/**************************************/
/*              default               */
/**************************************/
/**************************************/
/*               Layout               */
/**************************************/
/**************************************/
/*                Grid                */
/**************************************/
/**************************************/
/*               Styles               */
/**************************************/
/**** Forms ****/
/**** / end Forms ****/
/**************************************/
/*               Values               */
/**************************************/
/**************************************/
/*             Variables              */
/**************************************/
/**** user_img ****/
/**** / end user_img ****/
/**** ui_block ****/
/**** / end ui_block ****/
/**************************************/
/*            Functions               */
/**************************************/
/**************************************/
/*            Functions               */
/**************************************/
/**************************************/
/*           strip-units              */
/**************************************/
/**************************************/
/*              pxToEm                */
/**************************************/
/**************************************/
/*               Mixins               */
/**************************************/
/**************************************/
/*              Mixins                */
/**************************************/
/**************************************/
/*            Functional              */
/**************************************/
/**************************************/
/*              fontFace              */
/**************************************/
/**************************************/
/*             fontSize              */
/**************************************/
/**************************************/
/*           block center             */
/**************************************/
/**************************************/
/*             Icon Font              */
/**************************************/
/**************************************/
/*             Alignment              */
/**************************************/
/**************************************/
/*           block center             */
/**************************************/
/**************************************/
/*               Layout               */
/**************************************/
/**************************************/
/*               float                */
/**************************************/
/**************************************/
/*            inlineBlock             */
/**************************************/
/**************************************/
/*           Media Queries            */
/**************************************/
/**************************************/
/*             maxScreen              */
/**************************************/
/**************************************/
/*               Styles               */
/**************************************/
/**************************************/
/*             ellipsis               */
/**************************************/
/**************************************/
/*             hidden                 */
/**************************************/
/**************************************/
/*             minHeight              */
/**************************************/
/**************************************/
/*              opacity               */
/**************************************/
/**************************************/
/*          inputPlaceholder          */
/**************************************/
/**************************************/
/*            triangle                */
/**************************************/
/**************************************/
/*               Values               */
/**************************************/
/**************************************/
/*              emCalc                */
/**************************************/
/**************************************/
/*             remCalc                */
/**************************************/
/*
    用法:
    @include remCalc(line-height, 30, 16);
    @include remCalc(width height, 125);
    @include remCalc(padding, 0 25, 16);
    @include remCalc(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
    @include remCalc(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
/**************************************/
/*             Gradients              */
/**************************************/
/**************************************/
/*           Placeholders             */
/**************************************/
/**************************************/
/*           Placeholders             */
/**************************************/
/**************************************/
/*              layout                */
/**************************************/
/**************************************/
/*               layout               */
/**************************************/
/**************************************/
/*              module                */
/**************************************/
/**************************************/
/*               module               */
/**************************************/
/**************************************/
/*               layout               */
/**************************************/
/**************************************/
/*                tools               */
/**************************************/
/**************************************/
/*                text                */
/**************************************/
/**************************************/
/*               ui-list              */
/**************************************/
/**************************************/
/*               post                 */
/**************************************/
/**************************************/
/*                my                  */
/**************************************/
/**************************************/
/*               reward               */
/**************************************/
/**************************************/
/*                reward              */
/**************************************/
.reward > .rewardlist > .content > .list {
  margin-top: 1.42857rem; }
  .reward > .rewardlist > .content > .list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.35714rem;
    border-radius: 0.21429rem;
    border: 0.07143rem solid #eeeeee; }
    .reward > .rewardlist > .content > .list > li:last-child {
      margin-bottom: 0; }
    .reward > .rewardlist > .content > .list > li > .left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 35%;
              flex: 0 0 35%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 0.21429rem 0rem 0rem 0.21429rem;
      padding: 0.71429rem;
      background-color: #f4f4f4; }
      .reward > .rewardlist > .content > .list > li > .left > .icon {
        padding: 0.5rem;
        background-color: #ffffff;
        border-radius: 50%; }
      .reward > .rewardlist > .content > .list > li > .left > .title {
        margin-top: 0.07143rem;
        font-size: 16px;
        font-size: 1.14286rem;
        line-height: 1.5;
        color: #333333;
        text-transform: capitalize; }
    .reward > .rewardlist > .content > .list > li > .content {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0.92857rem 0.71429rem; }
      .reward > .rewardlist > .content > .list > li > .content > .top {
        line-height: 1.33;
        font-size: 12px;
        font-size: 0.85714rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.42rem;
        height: 3.42em; }
      .reward > .rewardlist > .content > .list > li > .content > .bottom {
        margin-top: 0.57143rem;
        color: #999999;
        line-height: 1.33;
        font-size: 12px;
        font-size: 0.85714rem; }
        .reward > .rewardlist > .content > .list > li > .content > .bottom > .sub {
          color: #333333; }
    .reward > .rewardlist > .content > .list > li.cur > .left {
      position: relative;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fdbc00), to(#fa8700));
      background-image: -webkit-linear-gradient(top, #fdbc00, #fa8700);
      background-image: linear-gradient(to bottom, #fdbc00, #fa8700); }
      .reward > .rewardlist > .content > .list > li.cur > .left > .title {
        color: #ffffff; }
      .reward > .rewardlist > .content > .list > li.cur > .left:before {
        position: absolute;
        top: 0.21429rem;
        left: 0.14286rem;
        width: 1.71429rem;
        height: 1.71429rem;
        background: url("../../../images/icon_flag.png") no-repeat 0 0;
        background-size: 100% 100%;
        content: ''; }
    .reward > .rewardlist > .content > .list > li.cur > .content > .bottom > .sub {
      font-weight: 500; }

.reward > .pointslist > .content > .list {
  margin-top: 1.42857rem; }
  .reward > .pointslist > .content > .list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.35714rem 0rem;
    border-radius: 0.21429rem;
    border-bottom: 0.07143rem solid #cccccc; }
    .reward > .pointslist > .content > .list > li > .title {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: #666666;
      font-size: 12px;
      font-size: 0.85714rem;
      line-height: 1.33; }
    .reward > .pointslist > .content > .list > li > .content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 0.71429rem; }
      .reward > .pointslist > .content > .list > li > .content > .icon {
        padding: 0.28571rem;
        background-color: #f4f4f4;
        border-radius: 50%;
        color: #999999; }
      .reward > .pointslist > .content > .list > li > .content > .con {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-left: 0.71429rem;
        font-weight: 500;
        line-height: 1.33;
        font-size: 12px;
        font-size: 0.85714rem; }
