@charset "utf-8";

//sass style
//-----------------------------------
// _layout.scss


/**************************************/
/*               layout               */
/**************************************/

// header
> .wrap_header {
    // position: relative;
    z-index: 1;
    background-color: $base-color;

    // container
    > .container {
        position: relative;
        // display: flex;
        // align-items: center;
        // flex-wrap: wrap;

        // scrollfix
        > .scrollfix {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        // scrollfix end
    }
    // container end
}
// header end
