//sass style
//-----------------------------------
// _layout.scss



/**************************************/
/*                layout              */
/**************************************/

.wrap {
    > .wrap_container {
        position: relative;
    }
}

// maps
.maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
// maps end
