@charset "utf-8";


//sass style
//-----------------------------------
// _grid.scss


/**************************************/
/*                Grid                */
/**************************************/

// grid
.grid {
    display: flex;

    // max-screen
    @include max-screen($base-max-screen) {
        display: block;
    }
    // max-screen end

    // main
    > .main {
        flex: 1;
    }
    // main end

    // sidebar
    > .sidebar {
        // @include emCalc("margin-left", $base-sidebar-margin);
        // @include emCalc("width", $base-sidebar-width);
        @include remCalc("margin-left", $base-sidebar-margin);
        @include remCalc("width", $base-sidebar-width);

        // max-screen
        @include max-screen($base-max-screen) {
            margin: 0;
            width: 100%;
        }
        // max-screen end
    }
    // sidebar end
}
// grid end
