@charset "utf-8";

//sass style
//-----------------------------------
// layout.scss


/**************************************/
/*               Layout               */
/**************************************/

// wrap
.wrap{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;

    // _header.scss
    @import "_header";

    // _container.scss
    @import "_container";

    // _grid.scss
    @import "_grid";

    // _sidebar.scss
    @import "_sidebar";

    // _footer.scss
    @import "_footer";
}
// wrap end
